= link_to 'Add To Favorites', article_add_path(article_id: id, user_id: current_user.id), class: 'btn btn-info', id: 'add_to_favorites', remote: true,  method: :post, style: current_user.favorites.user_articles(id).first.nil? ? '' : 'display: none;'
= link_to 'Remove From Favorites', article_delete_path(article_id: id, user_id: current_user.id), id: 'remove_to_favorites', remote: true, class: 'btn btn-info', method: :delete, style: current_user.favorites.user_articles(id).first.nil? ? 'display: none;' : ''
= link_to 'Save as epub', '', class: 'btn btn-success'
